.App {
  text-align: center;
  background-color: aqua;
  font-family: 'Times New Roman', Times, serif;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form input{
  width: 300px;
  margin: 10px;
}
